
.addToCart{
    color: tomato;
    padding: .8rem 2rem;
    margin-top: 2rem;
}

.addToCart:hover{
    background: tomato;
    border-radius: 5px;
    transition: .15s ease-in-out;
    color: white;
}


