
.signinbtn{
    color: tomato;
    font-size: medium;
}

.signinbtn:hover{
    background: tomato;
    color: white;
    border-radius: 3px;
    padding: 2px;
    transition: .15s ease-in-out;
    cursor: pointer;
}

.linkinnit:hover {
    color: tomato;
}


@media (max-width: 768px) {
    .navbardiv {
        padding: 0px;
        max-width: 100vw;
    }
    .sitelogo {
        max-width: none !important;
        margin: 0 !important;
    }
    .search-bar {
        max-width:90%;
    }
    .searchbardiv {
        padding: 2px;
    }
    .searchiconmenu {
        display: none;
    }
}